<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment Status</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-purple-100">

    <div class="bg-purple-500 p-8 rounded-md shadow-md text-center">
        <p class="text-2xl font-bold text-yellow-300 mb-4">
            Congratulations! You've successfully enrolled in:
        </p>
        <p class="text-black-400 mb-4">
            Uncover the incredible courses you've just signed up for below:
        </p>
    
        <!-- Add your course content here -->
    
        <a href="/scourse/<%=course.id%>"
            class="block w-full bg-yellow-500 text-white rounded-md py-3 px-6 hover:bg-yellow-600 transition duration-300">
            Explore Courses
        </a>
    </div>
    

</body>

</html>
